---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Cobertura from '../components/Cobertura.astro';
import Especializacion from '../components/Especializacion.astro';
import Instagram from '../components/Instagram.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Servicios />
    <Cobertura />
    <Especializacion />
    <Instagram />
    <Contacto />
  </main>
  <Footer />
  <WhatsAppFloat />
</Layout>
